<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<style>
	form,h1{
		text-align: center;
	}
	body{
		background: #FF0000;
	}
</style>

<h1>Join the team</h1>

<form method="post" action="/adduser">
	<p>Firstname<input type="text" name="firstname" placeholder="Firstname"></p>
	
	<p>Lastname<input type="text" name="lastname" placeholder="Lastname"></p>

	<p>Email<input type="text" name="email" placeholder="Email"></p>
	<br>
	<input type="submit" name="submit" class="submit" value="submit">

</form>

</body>
</html>